version: "3"
services:
  nginx:
    image: nginx:${NGINX_VERSION}
    container_name: "nginx"
    ports:
      - "${NGINX_HTTP_HOST_PORT}:80"
      - "${NGINX_HTTPS_HOST_PORT}:443"
    volumes:
      - ${SOURCE_DIR}:/var/www/html/:rw
      - ${NGINX_CONF_DIR}:/etc/nginx/:rw
      - ${NGINX_LOG_DIR}:/var/log/nginx/:rw
    restart: always
    networks:
      - default

  php72:
    build:
      context: ./dockerfiles
      dockerfile: php/Dockerfile
      args:
        PHP_VERSION: ${PHP72_VERSION}
        ALPINE_REPOSITORIES: ${ALPINE_REPOSITORIES}
        PHP_EXTENSIONS: ${PHP72_EXTENSIONS}
        MORE_EXTENSION_INSTALLER: php72.sh
    container_name: "php72"
    volumes:
      - ${SOURCE_DIR}:/var/www/html/:rw
      - ${PHP72_PHP_CONF_FILE}:/usr/local/etc/php/php.ini:rw
      - ${PHP72_FPM_CONF_DIR}:/usr/local/etc/php-fpm.d/:rw
      - ${PHP72_FPM_CONF_FILE}:/usr/local/etc/php-fpm.conf:rw
      - ${PHP72_LOG_DIR}:/var/log/php/:rw
    environment:
      XDEBUG_CONFIG: remote_host=${XDEBUG_REMOTE_HOST}
    restart: always
    cap_add:
      - SYS_PTRACE
    networks:
      - default

  php56:
    build:
      context: ./dockerfiles
      dockerfile: php/Dockerfile
      args:
        PHP_VERSION: ${PHP56_VERSION}
        ALPINE_REPOSITORIES: ${ALPINE_REPOSITORIES}
        PHP_EXTENSIONS: ${PHP72_EXTENSIONS}
        MORE_EXTENSION_INSTALLER: php72.sh
    container_name: "php56"
    volumes:
      - ${SOURCE_DIR}:/var/www/html/:rw
      - ${PHP56_PHP_CONF_FILE}:/usr/local/etc/php/php.ini:rw
      - ${PHP56_FPM_CONF_DIR}:/usr/local/etc/php-fpm.d/:rw
      - ${PHP56_FPM_CONF_FILE}:/usr/local/etc/php-fpm.conf:rw
      - ${PHP56_LOG_DIR}:/var/log/php/:rw
    environment:
      XDEBUG_CONFIG: remote_host=${XDEBUG_REMOTE_HOST}
    restart: always
    cap_add:
      - SYS_PTRACE
    networks:
      - default

  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: "mysql"
    ports:
      - "${MYSQL_HOST_PORT}:3306"
    volumes:
      - ${MYSQL_CONF_DIR}:/etc/mysql/:ro
      - ${MYSQL_DATA_DIR}:/var/lib/mysql/:rw
    restart: always
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"

  redis:
    image: redis:${REDIS_VERSION}
    container_name: "redis"
    ports:
      - "${REDIS_HOST_PORT}:6379"
    volumes:
      - ${REDIS_CONF_FILE}:/etc/redis.conf:ro
      - ${REDIS_DATA_DIR}:/data/:rw
    restart: always
    entrypoint: ["redis-server", "/etc/redis.conf"]
    networks:
      - default

networks:
  default:
