################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www
XDEBUG_REMOTE_HOST=

############# PHP Alpine Repositories ############
ALPINE_REPOSITORIES=mirrors.aliyun.com
COMPOSER_REPOSITORIES=https://mirrors.aliyun.com/composer/

#################### Nginx #####################
NGINX_VERSION=1.15.7-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONF_DIR=./config/nginx/
NGINX_LOG_DIR=./log/nginx/


############ PHP extensions #################
# Available extensions:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf
#
# Please seperate theme with comma(,) if you use more than
# one.
#
# For other extensions not list here, you also can install
# via pecl or source, which show in script install.sh and
# php72.sh in extensions.
#################### end ####################


#################### PHP7.2 ####################
PHP72_VERSION=7.2.13
PHP72_PHP_CONF_FILE=./config/php72/php.ini
PHP72_FPM_CONF_DIR=./config/php72/php-fpm
PHP72_FPM_CONF_FILE=./config/php72/php-fpm.conf
PHP72_LOG_DIR=./log/php/
PHP72_EXTENSIONS=opcache,amqp,pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,sockets,dba,gd,intl,bz2,soap,xsl,xmlrpc,curl,redis,xdebug,swoole,sodium


#################### PHP5.6 ####################
PHP56_VERSION=5.6.40
PHP56_PHP_CONF_FILE=./config/php56/php.ini
PHP56_FPM_CONF_DIR=./config/php56/php-fpm
PHP56_FPM_CONF_FILE=./config/php56/php-fpm.conf
PHP56_LOG_DIR=./log/php/
PHP56_EXTENSIONS=opcache,amqp,pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,sockets,dba,gd,intl,bz2,soap,xsl,xmlrpc,curl,redis,xdebug,swoole,sodium


#################### MySQL #####################
MYSQL_VERSION=8.0.13
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_CONF_DIR=./config/mysql/
MYSQL_DATA_DIR=./data/mysql/


#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_DATA_DIR=./data/redis/
REDIS_CONF_FILE=./config/redis/redis.conf
